body{   

	   color: #092102;
	   background-image: url(verdeagua.jpg.jpg);
	   font-family: cursive;

	   
}
body h1{
	    text-align: center;
	    font-family: cursive; 
	    font-size: 50px;
}
    div h1 p{font-size: 30px;

     }
     h2{
     	font-family: cursive;
     	font-size: 30px;

     }

    div h3{  
     	font-family: cursive;
}

        

